*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: #f1f1f1;
}

/* Navigation -----------------------------------*/
nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

nav.anim-nav {
    background-color: #000;
    border-bottom: 1px solid #f1f1f1;
    color: #f1f1f1;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }

    nav a {
        font-size: 16px;
    }
}

/* Accueil Fondu -----------------------------------*/
.accueil {
    height: 800px;
    display: flex;
    overflow: hidden;
}

.bloc-gauche-accueil {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #000;
    box-shadow: 90px 0 100px 100px #000;
}

h1 {
    color: #f1f1f1;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: clamp(20px, 5vw, 60px);
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

.accueil p {
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}

.btn-accueil {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    width: 150px;
    cursor: pointer;
}

.btn-accueil:hover {
    transition: all 0.2s ease-in-out;
    color: #000;
    background-color: #f1f1f1;
}

.b1 {
    margin-left: 8vw;
}

.b2 {
    margin-left: 10px;
}

.bloc-droit-accueil {
    background-image: url("./ressources/img-hero-section.jpg");
    width: 60%;
    height: 100%;
    background-position: 50%;
}

@media screen and (max-width: 750px) {
    .accueil {
        height: 600px;
    }
}

@media screen and (max-width: 550px) {

    .accueil p {
        font-size: 25px;

    }

    .bloc-droit-accueil {
        width: 70%;
        background-position: 48%;
    }

    .bloc-gauche-accueil {
        width: 30%;
    }
}

/* Section cartes ------------------------------------------ */
.titre-section-info {
    color: #000;
    text-align: center;
    font-size: clamp(35px, 5vw, 70px);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    padding: 40px 0;
    text-transform: uppercase;
}

.section-info {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    padding-bottom: 80px;
    position: relative;
    height: fit-content;
}

.carte-info {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 100;
    width: 400px;
}

.carte-info h2 {
    text-align: center;
    font-size: 25px;
    color: #333;
    padding: 20px 5px;
}

.carte-info p {
    text-align: center;
    font-size: 23px;
    color: #333;
    padding: 0 5px 15px;
}

.container-photo-info img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.deco-infos {
    position: absolute;
    z-index: -1;
    top: -145px;
    left: -170px;
    transform: scale(0.6);
}

@media screen and (max-width: 1400px) {
    .deco-infos {
        display: none;
    }

    .titre-section-info {
        padding-bottom: 40px;
    }

    .section-info {
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    .titre-section-info {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .carte-info {
        margin: 0 10px 45px;
    }

    .container-photo-info img {
        height: 300px;
    }
}

/* Section choix ------------------------------------------ */
#choix {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(348deg, transparent 0%, transparent 76%, rgba(194, 194, 194, 0.04) 76%, rgba(194, 194, 194, 0.04) 93%, transparent 93%, transparent 100%), linear-gradient(150deg, transparent 0%, transparent 10%, rgba(194, 194, 194, 0.04) 10%, rgba(194, 194, 194, 0.04) 74%, transparent 74%, transparent 100%), linear-gradient(68deg, transparent 0%, transparent 36%, rgba(194, 194, 194, 0.04) 36%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(199deg, transparent 0%, transparent 37%, rgba(194, 194, 194, 0.04) 37%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.entrainement-choix {
    width: 30%;
    text-align: center;
    color: #f1f1f1;
    margin: 50px 20px 70px;
}

.entrainement-choix h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.entrainement-choix p {
    font-size: 18px;
    width: 90%;
    margin: 0 auto 30px;
}

.btn-outline-choix {
    width: 300px;
    padding: 15px 0;
    font-size: 22px;
    background-color: #000;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.btn-outline-choix:hover {
    transition: all 0.2s ease-in-out;
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .entrainement-choix {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    #choix {
        flex-direction: column;
    }

    .entrainement-choix h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .btn-outline-choix {
        width: 250px;
    }

    .entrainement-choix {
        width: 350px;
        margin: 50px 0 70px;
    }

    .entrainement-choix:nth-child(1) {
        margin: 50px 20px 0;
    }
}

/* Section équipement ------------------------------------------ */
.titre-equipements {
    text-align: center;
    font-size: clamp(35px, 5vw, 70px);
    color: #000;
    padding: 50px 0;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
}

.equipments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 100px;
}

.btn-modale {
    width: 350px;
    height: 400px;
    border: none;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-modale:nth-child(1) {
    background-image: url("./ressources/img1-equip.jpg");
}

.btn-modale:nth-child(2) {
    background-image: url("./ressources/img2-equip.jpg");
}

.btn-modale:nth-child(3) {
    background-image: url("./ressources/img3-equip.jpg");
}

.btn-modale:nth-child(4) {
    background-image: url("./ressources/img4-equip.jpg");
}

.btn-modale:nth-child(5) {
    background-image: url("./ressources/img5-equip.jpg");
}

.btn-modale:nth-child(6) {
    background-image: url("./ressources/img6-equip.jpg");
}

.btn-modale:nth-child(7) {
    background-image: url("./ressources/img7-equip.jpg");
}

.btn-modale:nth-child(8) {
    background-image: url("./ressources/img8-equip.jpg");
}

.btn-modale:nth-child(9) {
    background-image: url("./ressources/img9-equip.jpg");
}

.bloc-modale {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: none;
}

.active-modale {
    display: block;
}

.bloc-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
}

.bloc-modale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: 10%;
}

.close-modale {
    position: absolute;
    z-index: 4000;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    font-size: 22px;
    color: white;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/* Section parallax --------------------------- */
.parascroll {
    height: 334px;
    background-image: url("./ressources/perseverance-2.jpg");
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parascroll h2 {
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: clamp(35px, 5vw, 70px);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
}

/* Section Tarifs ----------------------------- */
.tarifs {
    padding: 40px;
}

.titre-tarifs {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 40px;
    font-size: clamp(35px, 5vw, 60px);
    text-transform: uppercase;
    font-weight: 400;
}

.container-cartes-tarifs {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.cartes-tarifs {
    background-image: linear-gradient(348deg, transparent 0%, transparent 76%, rgba(194, 194, 194, 0.04) 76%, rgba(194, 194, 194, 0.04) 93%, transparent 93%, transparent 100%), linear-gradient(150deg, transparent 0%, transparent 10%, rgba(194, 194, 194, 0.04) 10%, rgba(194, 194, 194, 0.04) 74%, transparent 74%, transparent 100%), linear-gradient(68deg, transparent 0%, transparent 36%, rgba(194, 194, 194, 0.04) 36%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(199deg, transparent 0%, transparent 37%, rgba(194, 194, 194, 0.04) 37%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 2em;
    min-width: 300px;
}

.cartes-tarifs h3 {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
}

.cartes-tarifs p {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 0.7em;
    margin-bottom: 30px;
}

.cartes-tarifs span {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 600;
    position: relative;
}

.cartes-tarifs span::after {
    content: "€";
    display: inline-block;
    font-size: 0.5em;
    position: absolute;
    top: -8px;
    right: -20px;
    font-weight: 300;
}

.img-info-carte {
    width: 20px;
}

/* Section Contact ----------------------------- */
.titre-contact {
    border-top: 1px dashed #000;
    text-align: center;
    font-size: clamp(35px, 5vw, 60px);
    padding: 50px 0;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
}

form {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 100px;
    position: relative;
}

label,
input {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
    outline: none;
}

form input {
    padding: 10px;
}

input:nth-child(4) {
    margin-bottom: 20px;
}

label:nth-child(5) {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 15px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    #contact {
        width: 80%;
        margin: 0 auto;
    }

    form {
        width: 100%;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 15px 0;
    border-top: 1px dashed #000;
}